<ActionBar class="action-bar" title="TaskManager - Tarefas"></ActionBar>

<GridLayout class="page" rows="auto, *">
    <GridLayout row="0" columns="*, auto" class="form">
        <TextField class="input" col="0" hint="Digite uma tarefa"></TextField>
        <Label col="1" [text]="icons.get('add')" class="fa"></Label>
    </GridLayout>

    <ListView row="1" class="list-group" [items]="tasks">
        <ng-template let-task="item">
            <GridLayout class="list-group-item" columns="35px, *, auto">
                <Label col="0" [text]="checkboxIcon(task)" class="fa"></Label>
                <Label col="1" [class.done-task]="task.done" [text]="task.title" class="list-group-item-text"></Label>
                <Label col="2" class="fa" [text]="icons.get('trash')"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>
